test.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wine",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-3.5-turbo",
        "messages": [
          {
            "role": "system",
            "content": "You are a professional sommelier. Always respond in valid JSON with fields: wine, explanation, alternative."
          },
          {
            "role": "user",
            "content": "Recommend the best wine for a {{ $json.body.event }} with {{ $json.body.food }} food."
          }
        ]
      },
      "name": "AI Sommelier",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_ME",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseHeaders": {
          "Access-Control-Allow-Origin": "*",
          "Access-Control-Allow-Headers": "Content-Type"
        },
        "responseBody": "={{$json.choices[0].message.content}}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Sommelier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Sommelier": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}